In [86]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [87]:
import numpy as np
np.set_printoptions(precision=2)

In [88]:
df=pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [89]:
df.drop(['Name','Cabin','Ticket','Fare'],axis=1,inplace=True)
df

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0              1         0       3    male  22.0      1      0        S
1              2         1       1  female  38.0      1      0        C
2              3         1       3  female  26.0      0      0        S
3              4         1       1  female  35.0      1      0        S
4              5         0       3    male  35.0      0      0        S
..           ...       ...     ...     ...   ...    ...    ...      ...
886          887         0       2    male  27.0      0      0        S
887          888         1       1  female  19.0      0      0        S
888          889         0       3  female   NaN      1      2        S
889          890         1       1    male  26.0      0      0        C
890          891         0       3    male  32.0      0      0        Q

[891 rows x 8 columns]

In [90]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Embarked         2
dtype: int64

In [91]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer()
imputer.fit_transform(df[['Age']]) #test run

array([[22.  ],
       [38.  ],
       [26.  ],
       [35.  ],
       [35.  ],
       [29.7 ],
       [54.  ],
       [ 2.  ],
       [27.  ],
       [14.  ],
       [ 4.  ],
       [58.  ],
       [20.  ],
       [39.  ],
       [14.  ],
       [55.  ],
       [ 2.  ],
       [29.7 ],
       [31.  ],
       [29.7 ],
       [35.  ],
       [34.  ],
       [15.  ],
       [28.  ],
       [ 8.  ],
       [38.  ],
       [29.7 ],
       [19.  ],
       [29.7 ],
       [29.7 ],
       [40.  ],
       [29.7 ],
       [29.7 ],
       [66.  ],
       [28.  ],
       [42.  ],
       [29.7 ],
       [21.  ],
       [18.  ],
       [14.  ],
       [40.  ],
       [27.  ],
       [29.7 ],
       [ 3.  ],
       [19.  ],
       [29.7 ],
       [29.7 ],
       [29.7 ],
       [29.7 ],
       [18.  ],
       [ 7.  ],
       [21.  ],
       [49.  ],
       [29.  ],
       [65.  ],
       [29.7 ],
       [21.  ],
       [28.5 ],
       [ 5.  ],
       [11.  ],
       [22.  ],
       [38.  ],
       [45.  ],
       [ 4.  ],
       [29.7 ],
       [29.7 ],
       [29.  ],
       [19.  ],
       [17.  ],
       [26.  ],
       [32.  ],
       [16.  ],
       [21.  ],
       [26.  ],
       [32.  ],
       [25.  ],
       [29.7 ],
       [29.7 ],
       [ 0.83],
       [30.  ],
       [22.  ],
       [29.  ],
       [29.7 ],
       [28.  ],
       [17.  ],
       [33.  ],
       [16.  ],
       [29.7 ],
       [23.  ],
       [24.  ],
       [29.  ],
       [20.  ],
       [46.  ],
       [26.  ],
       [59.  ],
       [29.7 ],
       [71.  ],
       [23.  ],
       [34.  ],
       [34.  ],
       [28.  ],
       [29.7 ],
       [21.  ],
       [33.  ],
       [37.  ],
       [28.  ],
       [21.  ],
       [29.7 ],
       [38.  ],
       [29.7 ],
       [47.  ],
       [14.5 ],
       [22.  ],
       [20.  ],
       [17.  ],
       [21.  ],
       [70.5 ],
       [29.  ],
       [24.  ],
       [ 2.  ],
       [21.  ],
       [29.7 ],
       [32.5 ],
       [32.5 ],
       [54.  ],
       [12.  ],
       [29.7 ],
       [24.  ],
       [29.7 ],
       [45.  ],
       [33.  ],
       [20.  ],
       [47.  ],
       [29.  ],
       [25.  ],
       [23.  ],
       [19.  ],
       [37.  ],
       [16.  ],
       [24.  ],
       [29.7 ],
       [22.  ],
       [24.  ],
       [19.  ],
       [18.  ],
       [19.  ],
       [27.  ],
       [ 9.  ],
       [36.5 ],
       [42.  ],
       [51.  ],
       [22.  ],
       [55.5 ],
       [40.5 ],
       [29.7 ],
       [51.  ],
       [16.  ],
       [30.  ],
       [29.7 ],
       [29.7 ],
       [44.  ],
       [40.  ],
       [26.  ],
       [17.  ],
       [ 1.  ],
       [ 9.  ],
       [29.7 ],
       [45.  ],
       [29.7 ],
       [28.  ],
       [61.  ],
       [ 4.  ],
       [ 1.  ],
       [21.  ],
       [56.  ],
       [18.  ],
       [29.7 ],
       [50.  ],
       [30.  ],
       [36.  ],
       [29.7 ],
       [29.7 ],
       [ 9.  ],
       [ 1.  ],
       [ 4.  ],
       [29.7 ],
       [29.7 ],
       [45.  ],
       [40.  ],
       [36.  ],
       [32.  ],
       [19.  ],
       [19.  ],
       [ 3.  ],
       [44.  ],
       [58.  ],
       [29.7 ],
       [42.  ],
       [29.7 ],
       [24.  ],
       [28.  ],
       [29.7 ],
       [34.  ],
       [45.5 ],
       [18.  ],
       [ 2.  ],
       [32.  ],
       [26.  ],
       [16.  ],
       [40.  ],
       [24.  ],
       [35.  ],
       [22.  ],
       [30.  ],
       [29.7 ],
       [31.  ],
       [27.  ],
       [42.  ],
       [32.  ],
       [30.  ],
       [16.  ],
       [27.  ],
       [51.  ],
       [29.7 ],
       [38.  ],
       [22.  ],
       [19.  ],
       [20.5 ],
       [18.  ],
       [29.7 ],
       [35.  ],
       [29.  ],
       [59.  ],
       [ 5.  ],
       [24.  ],
       [29.7 ],
       [44.  ],
       [ 8.  ],
       [19.  ],
       [33.  ],
       [29.7 ],
       [29.7 ],
       [29.  ],
       [22.  ],
       [30.  ],
       [44.  ],
       [25.  ],
       [24.  ],
       [37.  ],
       [54.  ],
       [29.7 ],
       [29.  ],
       [62.  ],
       [30.  ],
       [41.  ],
       [29.  ],
       [29.7 ],
       [30.  ],
       [35.  ],
       [50.  ],
       [29.7 ],
       [ 3.  ],
       [52.  ],
       [40.  ],
       [29.7 ],
       [36.  ],
       [16.  ],
       [25.  ],
       [58.  ],
       [35.  ],
       [29.7 ],
       [25.  ],
       [41.  ],
       [37.  ],
       [29.7 ],
       [63.  ],
       [45.  ],
       [29.7 ],
       [ 7.  ],
       [35.  ],
       [65.  ],
       [28.  ],
       [16.  ],
       [19.  ],
       [29.7 ],
       [33.  ],
       [30.  ],
       [22.  ],
       [42.  ],
       [22.  ],
       [26.  ],
       [19.  ],
       [36.  ],
       [24.  ],
       [24.  ],
       [29.7 ],
       [23.5 ],
       [ 2.  ],
       [29.7 ],
       [50.  ],
       [29.7 ],
       [29.7 ],
       [19.  ],
       [29.7 ],
       [29.7 ],
       [ 0.92],
       [29.7 ],
       [17.  ],
       [30.  ],
       [30.  ],
       [24.  ],
       [18.  ],
       [26.  ],
       [28.  ],
       [43.  ],
       [26.  ],
       [24.  ],
       [54.  ],
       [31.  ],
       [40.  ],
       [22.  ],
       [27.  ],
       [30.  ],
       [22.  ],
       [29.7 ],
       [36.  ],
       [61.  ],
       [36.  ],
       [31.  ],
       [16.  ],
       [29.7 ],
       [45.5 ],
       [38.  ],
       [16.  ],
       [29.7 ],
       [29.7 ],
       [29.  ],
       [41.  ],
       [45.  ],
       [45.  ],
       [ 2.  ],
       [24.  ],
       [28.  ],
       [25.  ],
       [36.  ],
       [24.  ],
       [40.  ],
       [29.7 ],
       [ 3.  ],
       [42.  ],
       [23.  ],
       [29.7 ],
       [15.  ],
       [25.  ],
       [29.7 ],
       [28.  ],
       [22.  ],
       [38.  ],
       [29.7 ],
       [29.7 ],
       [40.  ],
       [29.  ],
       [45.  ],
       [35.  ],
       [29.7 ],
       [30.  ],
       [60.  ],
       [29.7 ],
       [29.7 ],
       [24.  ],
       [25.  ],
       [18.  ],
       [19.  ],
       [22.  ],
       [ 3.  ],
       [29.7 ],
       [22.  ],
       [27.  ],
       [20.  ],
       [19.  ],
       [42.  ],
       [ 1.  ],
       [32.  ],
       [35.  ],
       [29.7 ],
       [18.  ],
       [ 1.  ],
       [36.  ],
       [29.7 ],
       [17.  ],
       [36.  ],
       [21.  ],
       [28.  ],
       [23.  ],
       [24.  ],
       [22.  ],
       [31.  ],
       [46.  ],
       [23.  ],
       [28.  ],
       [39.  ],
       [26.  ],
       [21.  ],
       [28.  ],
       [20.  ],
       [34.  ],
       [51.  ],
       [ 3.  ],
       [21.  ],
       [29.7 ],
       [29.7 ],
       [29.7 ],
       [33.  ],
       [29.7 ],
       [44.  ],
       [29.7 ],
       [34.  ],
       [18.  ],
       [30.  ],
       [10.  ],
       [29.7 ],
       [21.  ],
       [29.  ],
       [28.  ],
       [18.  ],
       [29.7 ],
       [28.  ],
       [19.  ],
       [29.7 ],
       [32.  ],
       [28.  ],
       [29.7 ],
       [42.  ],
       [17.  ],
       [50.  ],
       [14.  ],
       [21.  ],
       [24.  ],
       [64.  ],
       [31.  ],
       [45.  ],
       [20.  ],
       [25.  ],
       [28.  ],
       [29.7 ],
       [ 4.  ],
       [13.  ],
       [34.  ],
       [ 5.  ],
       [52.  ],
       [36.  ],
       [29.7 ],
       [30.  ],
       [49.  ],
       [29.7 ],
       [29.  ],
       [65.  ],
       [29.7 ],
       [50.  ],
       [29.7 ],
       [48.  ],
       [34.  ],
       [47.  ],
       [48.  ],
       [29.7 ],
       [38.  ],
       [29.7 ],
       [56.  ],
       [29.7 ],
       [ 0.75],
       [29.7 ],
       [38.  ],
       [33.  ],
       [23.  ],
       [22.  ],
       [29.7 ],
       [34.  ],
       [29.  ],
       [22.  ],
       [ 2.  ],
       [ 9.  ],
       [29.7 ],
       [50.  ],
       [63.  ],
       [25.  ],
       [29.7 ],
       [35.  ],
       [58.  ],
       [30.  ],
       [ 9.  ],
       [29.7 ],
       [21.  ],
       [55.  ],
       [71.  ],
       [21.  ],
       [29.7 ],
       [54.  ],
       [29.7 ],
       [25.  ],
       [24.  ],
       [17.  ],
       [21.  ],
       [29.7 ],
       [37.  ],
       [16.  ],
       [18.  ],
       [33.  ],
       [29.7 ],
       [28.  ],
       [26.  ],
       [29.  ],
       [29.7 ],
       [36.  ],
       [54.  ],
       [24.  ],
       [47.  ],
       [34.  ],
       [29.7 ],
       [36.  ],
       [32.  ],
       [30.  ],
       [22.  ],
       [29.7 ],
       [44.  ],
       [29.7 ],
       [40.5 ],
       [50.  ],
       [29.7 ],
       [39.  ],
       [23.  ],
       [ 2.  ],
       [29.7 ],
       [17.  ],
       [29.7 ],
       [30.  ],
       [ 7.  ],
       [45.  ],
       [30.  ],
       [29.7 ],
       [22.  ],
       [36.  ],
       [ 9.  ],
       [11.  ],
       [32.  ],
       [50.  ],
       [64.  ],
       [19.  ],
       [29.7 ],
       [33.  ],
       [ 8.  ],
       [17.  ],
       [27.  ],
       [29.7 ],
       [22.  ],
       [22.  ],
       [62.  ],
       [48.  ],
       [29.7 ],
       [39.  ],
       [36.  ],
       [29.7 ],
       [40.  ],
       [28.  ],
       [29.7 ],
       [29.7 ],
       [24.  ],
       [19.  ],
       [29.  ],
       [29.7 ],
       [32.  ],
       [62.  ],
       [53.  ],
       [36.  ],
       [29.7 ],
       [16.  ],
       [19.  ],
       [34.  ],
       [39.  ],
       [29.7 ],
       [32.  ],
       [25.  ],
       [39.  ],
       [54.  ],
       [36.  ],
       [29.7 ],
       [18.  ],
       [47.  ],
       [60.  ],
       [22.  ],
       [29.7 ],
       [35.  ],
       [52.  ],
       [47.  ],
       [29.7 ],
       [37.  ],
       [36.  ],
       [29.7 ],
       [49.  ],
       [29.7 ],
       [49.  ],
       [24.  ],
       [29.7 ],
       [29.7 ],
       [44.  ],
       [35.  ],
       [36.  ],
       [30.  ],
       [27.  ],
       [22.  ],
       [40.  ],
       [39.  ],
       [29.7 ],
       [29.7 ],
       [29.7 ],
       [35.  ],
       [24.  ],
       [34.  ],
       [26.  ],
       [ 4.  ],
       [26.  ],
       [27.  ],
       [42.  ],
       [20.  ],
       [21.  ],
       [21.  ],
       [61.  ],
       [57.  ],
       [21.  ],
       [26.  ],
       [29.7 ],
       [80.  ],
       [51.  ],
       [32.  ],
       [29.7 ],
       [ 9.  ],
       [28.  ],
       [32.  ],
       [31.  ],
       [41.  ],
       [29.7 ],
       [20.  ],
       [24.  ],
       [ 2.  ],
       [29.7 ],
       [ 0.75],
       [48.  ],
       [19.  ],
       [56.  ],
       [29.7 ],
       [23.  ],
       [29.7 ],
       [18.  ],
       [21.  ],
       [29.7 ],
       [18.  ],
       [24.  ],
       [29.7 ],
       [32.  ],
       [23.  ],
       [58.  ],
       [50.  ],
       [40.  ],
       [47.  ],
       [36.  ],
       [20.  ],
       [32.  ],
       [25.  ],
       [29.7 ],
       [43.  ],
       [29.7 ],
       [40.  ],
       [31.  ],
       [70.  ],
       [31.  ],
       [29.7 ],
       [18.  ],
       [24.5 ],
       [18.  ],
       [43.  ],
       [36.  ],
       [29.7 ],
       [27.  ],
       [20.  ],
       [14.  ],
       [60.  ],
       [25.  ],
       [14.  ],
       [19.  ],
       [18.  ],
       [15.  ],
       [31.  ],
       [ 4.  ],
       [29.7 ],
       [25.  ],
       [60.  ],
       [52.  ],
       [44.  ],
       [29.7 ],
       [49.  ],
       [42.  ],
       [18.  ],
       [35.  ],
       [18.  ],
       [25.  ],
       [26.  ],
       [39.  ],
       [45.  ],
       [42.  ],
       [22.  ],
       [29.7 ],
       [24.  ],
       [29.7 ],
       [48.  ],
       [29.  ],
       [52.  ],
       [19.  ],
       [38.  ],
       [27.  ],
       [29.7 ],
       [33.  ],
       [ 6.  ],
       [17.  ],
       [34.  ],
       [50.  ],
       [27.  ],
       [20.  ],
       [30.  ],
       [29.7 ],
       [25.  ],
       [25.  ],
       [29.  ],
       [11.  ],
       [29.7 ],
       [23.  ],
       [23.  ],
       [28.5 ],
       [48.  ],
       [35.  ],
       [29.7 ],
       [29.7 ],
       [29.7 ],
       [36.  ],
       [21.  ],
       [24.  ],
       [31.  ],
       [70.  ],
       [16.  ],
       [30.  ],
       [19.  ],
       [31.  ],
       [ 4.  ],
       [ 6.  ],
       [33.  ],
       [23.  ],
       [48.  ],
       [ 0.67],
       [28.  ],
       [18.  ],
       [34.  ],
       [33.  ],
       [29.7 ],
       [41.  ],
       [20.  ],
       [36.  ],
       [16.  ],
       [51.  ],
       [29.7 ],
       [30.5 ],
       [29.7 ],
       [32.  ],
       [24.  ],
       [48.  ],
       [57.  ],
       [29.7 ],
       [54.  ],
       [18.  ],
       [29.7 ],
       [ 5.  ],
       [29.7 ],
       [43.  ],
       [13.  ],
       [17.  ],
       [29.  ],
       [29.7 ],
       [25.  ],
       [25.  ],
       [18.  ],
       [ 8.  ],
       [ 1.  ],
       [46.  ],
       [29.7 ],
       [16.  ],
       [29.7 ],
       [29.7 ],
       [25.  ],
       [39.  ],
       [49.  ],
       [31.  ],
       [30.  ],
       [30.  ],
       [34.  ],
       [31.  ],
       [11.  ],
       [ 0.42],
       [27.  ],
       [31.  ],
       [39.  ],
       [18.  ],
       [39.  ],
       [33.  ],
       [26.  ],
       [39.  ],
       [35.  ],
       [ 6.  ],
       [30.5 ],
       [29.7 ],
       [23.  ],
       [31.  ],
       [43.  ],
       [10.  ],
       [52.  ],
       [27.  ],
       [38.  ],
       [27.  ],
       [ 2.  ],
       [29.7 ],
       [29.7 ],
       [ 1.  ],
       [29.7 ],
       [62.  ],
       [15.  ],
       [ 0.83],
       [29.7 ],
       [23.  ],
       [18.  ],
       [39.  ],
       [21.  ],
       [29.7 ],
       [32.  ],
       [29.7 ],
       [20.  ],
       [16.  ],
       [30.  ],
       [34.5 ],
       [17.  ],
       [42.  ],
       [29.7 ],
       [35.  ],
       [28.  ],
       [29.7 ],
       [ 4.  ],
       [74.  ],
       [ 9.  ],
       [16.  ],
       [44.  ],
       [18.  ],
       [45.  ],
       [51.  ],
       [24.  ],
       [29.7 ],
       [41.  ],
       [21.  ],
       [48.  ],
       [29.7 ],
       [24.  ],
       [42.  ],
       [27.  ],
       [31.  ],
       [29.7 ],
       [ 4.  ],
       [26.  ],
       [47.  ],
       [33.  ],
       [47.  ],
       [28.  ],
       [15.  ],
       [20.  ],
       [19.  ],
       [29.7 ],
       [56.  ],
       [25.  ],
       [33.  ],
       [22.  ],
       [28.  ],
       [25.  ],
       [39.  ],
       [27.  ],
       [19.  ],
       [29.7 ],
       [26.  ],
       [32.  ]])

In [92]:
df['Age']=imputer.fit_transform(df[['Age']])

In [93]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       2
dtype: int64

In [94]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0            1         0       3    male  22.0      1      0        S
1            2         1       1  female  38.0      1      0        C
2            3         1       3  female  26.0      0      0        S
3            4         1       1  female  35.0      1      0        S
4            5         0       3    male  35.0      0      0        S

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Embarked     889 non-null    object
dtypes: float64(1), int64(5), object(2)
memory usage: 55.8+ KB

In [96]:
imputer2=SimpleImputer(strategy='most_frequent')

In [97]:
df["Embarked"]=imputer2.fit_transform(df[["Embarked"]])

In [98]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Embarked       0
dtype: int64

In [99]:
df.value_counts("Embarked")

Embarked
S    646
C    168
Q     77
dtype: int64

In [100]:
from sklearn.preprocessing import LabelEncoder
gender_enc=LabelEncoder()
gender_enc.fit(df["Sex"])

LabelEncoder()

In [101]:
gender_enc.transform(df["Sex"])

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1])

In [102]:
df["Sex"]=gender_enc.transform(df["Sex"])

In [103]:
from sklearn.preprocessing import OneHotEncoder
Embarked_enc=OneHotEncoder(drop="first")
Embarked_enc.fit(df[['Embarked']])

OneHotEncoder(drop='first')

In [104]:
Embarked_dummies=Embarked_enc.transform(df[['Embarked']]).toarray()
Embarked_dummies

array([[0., 1.],
       [0., 0.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 0.],
       [1., 0.]])

In [105]:
df.drop(columns=['Embarked'],axis=1,inplace=True)

In [106]:
import numpy as np
data=np.hstack((Embarked_dummies,df.values))
data.shape

(891, 9)

In [107]:
Embarked_dummies_df=pd.DataFrame(Embarked_dummies)
Embarked_dummies_df.head()

     0    1
0  0.0  1.0
1  0.0  0.0
2  0.0  1.0
3  0.0  1.0
4  0.0  1.0

In [108]:
data_df=pd.concat([Embarked_dummies_df,df],axis=1)

In [109]:
data_df

       0    1  PassengerId  Survived  Pclass  Sex        Age  SibSp  Parch
0    0.0  1.0            1         0       3    1  22.000000      1      0
1    0.0  0.0            2         1       1    0  38.000000      1      0
2    0.0  1.0            3         1       3    0  26.000000      0      0
3    0.0  1.0            4         1       1    0  35.000000      1      0
4    0.0  1.0            5         0       3    1  35.000000      0      0
..   ...  ...          ...       ...     ...  ...        ...    ...    ...
886  0.0  1.0          887         0       2    1  27.000000      0      0
887  0.0  1.0          888         1       1    0  19.000000      0      0
888  0.0  1.0          889         0       3    0  29.699118      1      2
889  0.0  0.0          890         1       1    1  26.000000      0      0
890  1.0  0.0          891         0       3    1  32.000000      0      0

[891 rows x 9 columns]

FEATURE SELECTION

In [110]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [111]:
featSelector=SelectKBest(chi2,k=2)

In [112]:
X=df.iloc[:,:-1]
print(X.shape)
y=df['Survived']
print(y.shape)

(891, 6)
(891,)

In [113]:
featSelector.fit(X,y)

SelectKBest(k=2, score_func=<function chi2 at 0x0000023104451E50>)

In [114]:
np.set_printoptions(precision=2)

In [115]:
featSelector.scores_

array([  3.31, 549.  ,  30.87,  92.7 ,  24.69,   2.58])

In [116]:
print(f"COL{featSelector.feature_names_in_}\n SEL{featSelector.get_feature_names_out()}")

COL['PassengerId' 'Survived' 'Pclass' 'Sex' 'Age' 'SibSp']
 SEL['Survived' 'Sex']

In [117]:
features=df[['Pclass','Sex','Age']]
#print(features.shape)

In [118]:
#
# print(featSelector.get_feature_names_out())
features

     Pclass  Sex        Age
0         3    1  22.000000
1         1    0  38.000000
2         3    0  26.000000
3         1    0  35.000000
4         3    1  35.000000
..      ...  ...        ...
886       2    1  27.000000
887       1    0  19.000000
888       3    0  29.699118
889       1    1  26.000000
890       3    1  32.000000

[891 rows x 3 columns]

In [119]:
scaler=StandardScaler()
scaledX=scaler.fit_transform(features)
xtrain,xtest,ytrain,ytest=train_test_split(scaledX,y,test_size=.2,random_state=1)
m=KNeighborsClassifier(n_neighbors=9)
m.fit(xtrain,ytrain)
ypred=m.predict(xtest)
cm=confusion_matrix(ytest,ypred)
print(cm)

[[92 14]
 [31 42]]

In [120]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.75      0.87      0.80       106
           1       0.75      0.58      0.65        73

    accuracy                           0.75       179
   macro avg       0.75      0.72      0.73       179
weighted avg       0.75      0.75      0.74       179

wrapper method